<!DOCTYPE html>
<html>
    <body>
        <h1>Our Services</h1>
        <p>We offer a variety of printing services.</p>
        <ul>
            <li>Business Cards</li>
            <li>Invoices</li>
            <li>Wedding Invitations</li>
            <li>Laminations</li>
            </ul>
        <ul>
  <li><a href="/service-business-cards.html">Business Cards</a></li>
  <li><a href="/service-invoices.html">Flyer Printing</a></li>
  <li><a href="/service-wedding-invitations.html">T-Shirt Printing</a></li>
  <li><a href="/service-laminatons.html">Flyer Printing</a></li>
</ul> 
</body>
</html>